body {
    background-color: powderblue;
    background-image: url('../imatges/imagenes\ bonitas\ y\ fotos\ de\ paisajes\ naturales\ -\ amazing\ free\ wallpapers\ \(9\).jpg');
    background-repeat: no-repeat;
    background-size: cover;}

h1 {
    color: rgba(0, 0, 255, 1);
}

p {
    color:red;
}
